<template>
    <CardHeader></CardHeader>
    <CardBody></CardBody>
</template>

<script>
    import CardHeader from './crypto/CardHeaderComponent.vue';
    import CardBody from './crypto/CardBodyComponent.vue';

    export default {
        components: {
            CardHeader,
            CardBody
        }
    }
</script>